<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>better reads</title>
    <link href="/style.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
    <div id="navbar">
      <% if(!loggedIn){ %>
      <div><a href="/register">Register</a></div>
      <div><a href="/login">Login</a></div>
      <% } else{ %>  
      <div><a href="/logout">Logout</a></div>
      <div><a href="/">hello, <%=username%>! </a></div>
      <% } %>
      <div id="logo"><a href="/">Logo!</a></div>
    </div>
    <div id="container">
    </div>
  </body>
</html>