
.rating-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.4rem 0.8rem;
  }
  
  .rating-text p {
    color: rgba(0, 0, 16, 0.8);
    font-size: 1.3rem;
    padding: 0.3rem;
  }
  
  .rating {
    background-color: #dddddd;
    padding: 0.2rem 0.4rem;
    border-radius: 1.8rem;
  
    display: flex;
    gap: 0.5rem;
  }
  
  
  div.state-button {
    flex: 1 1 0;
    display: inline-flex;
    align-self: auto;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    cursor: pointer;
  }
  
  div.state-button>p {
    color: rgba(0,0,0, 0.5);
    font-size: 0.8rem;
    padding: 0.1rem;
    text-align: center;
  }
  
  div.state-button>img {
    height: 2rem;
    margin: 0.2rem 1rem 0.2rem 1rem ;
    position: inherit;
    opacity: 1;
  }
  
  
  
  #radios label {
    position: relative;
  }
  
  
  div.state-button + img {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  div.state-button>img {
    fill: white;
    filter: invert(100%);
  }
  
  /* Todas las conversiones se hacen desde invert 100% */
  div.state-button.planned-button:hover>img,
  div.state-button.planned-button.selected>img {
    fill: #0080ff;
    filter: invert(29%) sepia(98%) saturate(1777%) hue-rotate(196deg) brightness(101%) contrast(109%);
  }
  
  
  
  div.state-button.reading-button:hover>img,
  div.state-button.reading-button.selected>img {
    fill: #ffa600;
    filter: invert(58%) sepia(57%) saturate(1098%) hue-rotate(1deg) brightness(106%) contrast(105%)
  }
  
    
    div.state-button.finished-button:hover>img,
    div.state-button.finished-button.selected>img {
        fill: #1ec900;
        filter: invert(42%) sepia(89%) saturate(951%) hue-rotate(77deg) brightness(109%) contrast(101%);
    }
    
    /* Cuando esta seleccionado y hover, lo hago más parecido al fondo */
  div.state-button.selected:hover>img {
    opacity: 0.5;
  }
  
  
  div.state-button:hover {
    background-color: #ffffffA9;
    border-radius: 1.3rem;
  }
  
  div.state-button:hover>p,
  div.state-button.selected>p {
    color: #000
  }

  div.state-button.selected:hover>p {
    color: #222;
  }
  
  /* Colores para los SVG obtenidos con: https://codepen.io/sosuke/pen/Pjoqqp 
  Uso la propiedad "color" para indicar el color que usé para convertirlo,
  para documentar más que nada*/
  