a {
    text-decoration: none;
    /* color:lavender; */
}

a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: rgb(45, 62, 62);
}

a:visited {
    color: rgb(62, 81, 90);
}

a:focus {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
    color: rgb(83, 85, 86);
}

a:active {
    text-decoration: underline;
}

#layout-sidebar {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping for smaller screens */
  justify-content: center;
}

#main-layout {
    display: flex;
    flex-wrap: nowrap; /* Allows wrapping for smaller screens */
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    margin-top: 3.5em;
}