p {
  font-size: small;
}


h1 {
  text-align: center;
}

.browse-books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0em;
  justify-content: center;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 130px;
}

.author-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 80px;
}

.genre-container {
  text-align: center;
  height: 30px;
}

.book-title {
  align-self: center;
  font-size: small;
}

.book-info{
  margin: .4em;
  display: flex;
  flex-direction: column;
  flex: 0 1 0;
  align-items: center;
  background-color: rgb(247, 248, 251);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1em;
  width: 10em;
  word-break: break-word;
}

.info-cover-container {
  min-height: 220px;
}

.book-info img{
  object-fit: contain;
  min-width: 128px;
}

.paginator {
  display: flex;
  justify-content: center;
  gap: 5em;
}

.paginator * {
  text-align: center;
  width: 7em;
}