p {
  font-size: small;
  color:rgb(33, 48, 48);
}


h1 {
  text-align: center;
}

.paginated-books {
  box-sizing: border-box;
  width: 95%;
  margin: 2em 2em;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.author-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.genre-container {
  text-align: center;
}

.book-title {
  align-self: center;
  font-size: small;
}

.book-info-content {
  display: flex;
  flex-direction: column;
  padding-right: .4em;
  align-items: center;
  padding-bottom: 0.5em;
  height: 100%;
  justify-content: space-between;
}

.browse-books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0em;
  justify-content: center;
}


.book-info{
  margin: .4em;
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
  align-items: center;
  background-color: rgb(247, 248, 251);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 10em;
  word-break: break-word;

  min-width: 20em;
}

.book-info:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);

}

.info-cover-container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.book-info img{
  object-fit: contain;
  width: 6em;
}

.paginator {
  display: flex;
  justify-content: center;
  gap: 5em;
}

.paginator * {
  text-align: center;
  width: 7em;
}

div.no-rating>div {
  opacity: 0.3;
}

p.no-rating {
  position: absolute;
    top: 0.9rem; /* Adjust this to fine-tune the vertical position */
    left: 0; /* Adjust this to center horizontally if needed */
    right: 0; /* Ensures it stretches across the container */
    text-align: center;
    font-size: 1rem;
    font-style: italic;
    color: rgb(42, 42, 42);
    z-index: 2; /* Ensure it's in front of the stars */
  }