#container {
  flex-grow: 1;
  width: 90%;
  margin: 20px auto;
  padding: 10px;
  max-width: 700px;
}

#new-post {
  background-color: white;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

#new-post textarea, 
#new-post select {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  resize: vertical; /* Allows text area resizing */
}

#new-post button {
  padding: 10px 15px;
  background-color: #0077b6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#new-post button:hover {
  background-color: #005f8a;
}

.stats-container {
  display: flex; /* Coloca los elementos en una fila */
  gap: 30px; /* Espacio entre los elementos */
  align-items: center; /* Alinea verticalmente los textos */
}

.stats-container h2 {
  color: #0096c7; /* Azul más claro */
}


/* DUPLICADO */
a.disabled {
  pointer-events: none;
  cursor: default;
  color: grey;
  filter: grayscale(100%);
}
