.register-link {
  margin-top: 15px;
}

.register-link a {
  color: #3498DB;
  font-size: 14px;
}



h1 {
  color: #2C3E50;
  text-align: center;
}

.redirect-link a {
  color: #3498DB;
}

.profile-container{
  background-color: #16A085;
}

.input-group>input {
  width: 100%;
}