#seePostsButton {
  background-color: #007bff;
}

.register-link {
  margin-top: 15px;
}

.register-link a {
  color: #3498DB;
  font-size: 14px;
}

h1 {
  color: #2C3E50;
  text-align: center;
  margin-bottom: 20px;
}

.redirect-link a {
  color: #3498DB;
}

.book-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.book-info img{
  object-fit: contain;
  margin-bottom: 20px;
}

.share-option {
  display: flex;
  align-items: center;
  margin: 1em;
}

.book-data-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1em;
}

.share-option label {
  margin-left: 5px;
  color: #34495E;
  font-size: 16px;
}

#shareOnFeed {
  width: 20px;
  height: 20px;
}

#book-cover {
  /* set maximum witdth and hight*/
  width: 30vw;
  max-width: 250px;
}

.review {
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
}
.username {
  font-weight: bold;
}
.username a {
  color: #0077b6;
}
.stars {
  font-size: 2em;
  font-family: FontAwesome;
}

.stars > .checked {
  color: gold;
}

.stars > .unchecked {
  color: #b5b5b5;
}

.buttons-container {
  display: flex;
  margin-top: 1.5em;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.see-posts-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.see-posts-container a {
  flex-grow: 1;
}

#textReview {
  display: block;
}
#textReview textarea {
  width:100%;
  height: 10em;
}