<link rel="stylesheet" href="/static/css/container_style.css" />
<link rel="stylesheet" href="/static/css/stars_review.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
{{! FUENTE ESTRELLAS https://jsfiddle.net/4qqspqxh/ }}
  
<div id="content">
<div id="container">
  <h1>Genre: {{genre}}</h1>
  <a href="/?genre={{genre}}"><button id="seePostsButton" type="button">See Posts</button></a>
  {{> paginated_books}}
</div>
</div>

