<link rel="stylesheet" href="/static/css/container_style.css" />
<link rel="stylesheet" href="/static/css/style.css" />
<div id="content">
<div id="container">
  <h1>Login</h1>
  {{#if hasWrongCred}}
    <div>Wrong username or password.</div><br />
  {{/if}}

  <form action="login" method="post">
    <!-- Campo para el nombre de usuario -->
    <div class="input-group">
      <label for="username">Username:</label>
      <input type="text" name="name" id="username" minlength="3" required /><br
      />
    </div>

    <!-- Campo para la contraseña -->
    <div class="input-group">
      <label for="password">Password:</label>
      <input
        type="password"
        name="password"
        id="password"
        minlength="8"
        required
      /><br />
    </div>

    <!-- Botón de envío -->
    <button type="submit">
      <span>Send</span>
    </button>
  </form>
  <div class="register-link">
    <a href="/register">Don't have an account? Register here</a>
  </div>
  <script type="text/javascript">
    // FirebaseUI config.
    var uiConfig = {
      signInFlow: "popup",
      signInOptions: [
        firebase.auth.GoogleAuthProvider.PROVIDER_ID,
        firebase.auth.EmailAuthProvider.PROVIDER_ID,
      ],
      signInSuccessUrl: '/',
      callbacks: {
        signInSuccessWithAuthResult: function(authResult, redirectUrl) {
            console.log('User signed in:', authResult.user, redirectUrl);
        // Return true to redirect to the signInSuccessUrl
            return true;
        },
      },
    };

    // Initialize the FirebaseUI Widget using Firebase.
    //var ui = new firebaseui.auth.AuthUI(firebase.auth());
    // The start method will wait until the DOM is loaded.
    ui.start('#firebaseui-auth-container', uiConfig);

    firebase.auth().onAuthStateChanged(user => {
      if (user) {
        console.log('User logged in:', user);
        user.getIdToken().then(idToken => {
          console.log('ID Token:', idToken);
          fetch('/login', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({ token: idToken }),
          }).then(response => {
            if (response.ok) {
              window.location.href = "/";
              console.log('Token verified!');
            }
          });
        });
      } else {
        console.log("no user");
      }
    });
  </script>
  <div id="firebaseui-auth-container"></div>
</div>
</div>
