<link rel="stylesheet" href="/static/css/container_style.css" />
<link rel="stylesheet" href="/static/css/notifications_style.css" />

<div id="content">
  <div id="container">
    <h1>Notificaciones</h1>
    {{#if notifications.length}}
      <div class="notifications-list">
        {{#each notifications}}
          <div class="notification-item">
            <p>{{this.message}}</p>
            <span>{{this.date}}</span>
          </div>
        {{/each}}
      </div>
    {{else}}
      <p>No tienes notificaciones.</p>
    {{/if}}
  </div>
</div>