<link rel="stylesheet" href="/static/css/container_style.css" />
<link rel="stylesheet" href="/static/css/browse_style.css" />
<link rel="stylesheet" href="/static/css/style_book_list.css" />

<div id="browse-container" class="{{#if search}}with-results{{else}}without-results{{/if}}">
  <h1>Browse users</h1>

  <div id="user-list">
    <label for="user-select">Search for a user!</label>
    <div class="select-button-container">
      <select name="user" id="user-select">
      </select>
      <button type="submit" onclick="return redirectToSearch(event)">🔎︎</button>
    </div>
  </div>
  
  {{#if search}}
    <div class="search-options">
      <p>Search by:</p>
      <a href="/browse/search/{{search}}" class="{{#if validTypes.user_name}}selected{{/if}}">Only user</a>
    </div>
  {{/if}}
{{!-- 
  {{#if search}}
    {{> paginated_users}}
  {{/if}} --}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
  <script>
    function parseSearchAllForResults(data) {
      console.log(data);

      let users = data.userEntries.map(function(user) {
        return {
          id: "user-" + String(user.username),
          text: user.username
        };
      });

      console.log("Users:", users);

      let finalResult = {
        results: [users]
      };

      if (users.length > 0) {
        finalResult.results.push({
          text: "Users",
          children: users
        });
      }
      console.log(finalResult)
      return finalResult;
      {{!-- return users; --}}
    }

    $(document).ready(function() {
      $('#user-select').select2({
        width: "100%",
        placeholder: "-- Search for a user --",
        insertTag: function(data, tag) {
          data.unshift(tag);
        },
        ajax: {
          url: '/browse/search_users',
          dataType: 'json',
          delay: 100,
          data: function(params) {
            return {
              search: params.term
            };
          },
          processResults: parseSearchAllForResults,
          cache: true
        }
      });
    });

    function redirectToSearch(event) {
      event.preventDefault();
      const select = document.getElementById('user-select');
      const selectionId = select.value;

      if (selectionId.startsWith("custom-")) {
        const search = selectionId.replace("custom-", "");
        window.location.href = `/browse/search/${search}`;
      } else if (selectionId.startsWith("user-")) {
        const userId = selectionId.replace("user-", "");
        window.location.href = `/${userId}/profile`;
      }
    }
  </script>
</div>
