<link rel="stylesheet" href="/static/css/post_individual.css" />

  <link
  rel="stylesheet"
  href="/static/css/stars_review.css"/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
{{! FUENTE ESTRELLAS https://jsfiddle.net/4qqspqxh/ }}

<div id="feed">
    {{#with feed}}
    {{#if posts}}
        {{#each posts}}
            {{> individual_post}}
        {{/each}}
        {{#unless next_page includeZero=true}}
            <p>You have reached the bottom! There are no more older posts</p>
        {{/unless}}

        
        {{> paginator}}
    {{else}}
        <p>No posts yet</p>
    {{/if}}
</div>

 

<script>
    function goPage(page) {
        window.location.href = `/{{endpoint_route}}?page=${page}&paginate_from={{paginate_from}}{{#if book.id includeZero=true}}&book_id={{book.id}}{{/if}}`;
    }
</script>

    {{/with}}