<link rel="stylesheet" href="/static/css/navbar.css" />

<div id="navbar">
  <div id="logo"><a href="/">Better Reads</a></div>
  <div class="user-actions">
    {{#if loggedIn}}
      <a href="/cart"><img src="/static/assets/icons8-cart-48.png" alt="Cart"></a>
      <a id="notification-button" href="/notification">
        <img id="notification-icon" src="/static/assets/notification_icon.svg" alt="Notifications">
        <span id="notification-count" class="notification-count">5</span>
      </a>
      <a href="/logout">Logout</a>
      <a href="/profile">Hello, {{username}}</a>
    {{else}}
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    {{/if}}
  </div>
</div>