<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/css/general_style.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>    
    <script src="https://www.gstatic.com/firebasejs/10.0.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.0.0/firebase-auth-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/6.1.0/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.1.0/firebase-ui-auth.css" />
    <script type="text/javascript">
      // Initialize firebase app
      firebase.initializeApp({{{firebaseConfig}}});
      const ui = new firebaseui.auth.AuthUI(firebase.auth());
    </script>
</head>
<body>
    {{> navbar }}
    <div id="layout-sidebar">
        {{#if do_sidebar}}
            {{> sidebar}}
        {{/if}}
        <div id="main-layout">
            <div id="main-content">
                {{{body}}}
            </div>
        </div>
    </div>
</body>
</html>
